%h1
  Help
%p
  Get help on RoR Tutorial at the 
  = link_to "Rails Tutorial help page", "http://railstutorial.org/help"
  To get help on this sample app, see
  = link_to "Rails Tutorial book", "http://railstutorial.org/book"
